{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
        <div class="col">
          <div class="card shadow-sm">
              <h1 class="text-center"> <strong class="text-dark">{{object.header}}</strong></h1>
            <img src="{{ blog.preview | media_filter }} " class="img-fluid" alt={{blog.preview}} >
            <div class="card-body">
              <p class="text-success"> <strong class="text-dark">{{object.content}}</strong></p>
              <p class="text-success">Дата публикации: <strong class="text-dark">{{object.created_at | date:"d M Y"}}</strong></p>
              <p class="text-success">Количество просмотров: <strong class="text-dark">{{ object.view_count}}</strong></p>
              <div class="d-flex justify-content-between align-items-center">
              <a class="btn btn-secondary" href="{% url 'blogs:blog_list' %}" role="button">К МебельБлогам</a>
              </div>
            </div>
          </div>
        </div>
{% endblock %}